cis hardening/.assets/Folder Structure.drawio
../../vagrant/.vagrant/.*
cis hardening/linux/vagrant/.vagrant/
cis hardening/linux/vagrant/.vagrant/bundler/
cis hardening/linux/vagrant/.vagrant/rgloader/
cis hardening/linux/vagrant/.vagrant/machines/

